# Archivos de Docker
.docker/
docker-compose.override.yml

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de logs
*.log

# Archivos de entorno
.env
.env.* 